.top{
  color: aliceblue;
  padding-bottom: 10%;
  border-start-end-radius: 1rem;
  border-start-start-radius: 1rem;
  padding-top: 50px;
  position:relative;
  top:-8px;
  background: radial-gradient(circle at 12.3% 19.3%, #b7d1f3 0%, rgb(52, 192, 243) 100.2%);
}
.App-header {
  text-align: center;
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.RegisterPages{
  background: radial-gradient(592px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
}
.form-group-register{
  text-align: center;
  /* padding-top: 20%; */
  /* padding-bottom:  24em; */
  position:relative; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-group{
  /* margin: 40% 20% 40% 20%; */
  text-align: center;
  background: radial-gradient(600px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
  position:relative; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-container{
  padding: 20px;
}

.Table {
  background: radial-gradient(600px at 48.2% 50%, rgba(255, 255, 249, 0.6) 0%, rgb(160, 199, 254) 74.6%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topFetch{
  padding-bottom: 50px;
  margin-top: 5%;
  text-align: center;
  color: aliceblue;
  width: 31rem;
  border-start-end-radius: 2rem;
  border-start-start-radius: 2rem;
  padding-top: 50px;
  position:relative;
  background: radial-gradient(circle at 12.3% 19.3%, #b7d1f3 0%, rgb(52, 192, 243) 100.2%);
}